flows.json
[
    {
        "id": "c91954a18c115d0e",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82413786789ddd93",
        "type": "ui-base",
        "name": "画面名",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "3eafc0c9cff9aefd",
        "type": "ui-page",
        "name": "ページ名",
        "ui": "82413786789ddd93",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "968498621d165f20",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "89949a1e6ab3d975",
        "type": "ui-group",
        "name": "グループ名",
        "page": "3eafc0c9cff9aefd",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "968498621d165f20",
        "type": "ui-theme",
        "name": "テーマ名",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "490de6c9e993cda0",
        "type": "ui-text",
        "z": "c91954a18c115d0e",
        "group": "89949a1e6ab3d975",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "画像認識結果",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "7c43d18515f5de0f",
        "type": "ui-template",
        "z": "c91954a18c115d0e",
        "group": "89949a1e6ab3d975",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<v-file-input v-model=\"files\" @update:modelValue=\"send({payload: files})\" />",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "8ad023cca74220ef"
            ]
        ]
    },
    {
        "id": "8ad023cca74220ef",
        "type": "cocossd",
        "z": "c91954a18c115d0e",
        "name": "",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "490de6c9e993cda0"
            ]
        ]
    }
]